/* Responsive Styles */



/* For tablets and small desktops */
@media (max-width: 992px) {
    #item-1, #item-2, #item-3, #item-4 {
        height: 29vh;
    }

    .slide {
        margin-top: -450px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .menu, .search-icon {
        visibility: hidden;

    }

    .bar {
        visibility: visible;
    }

    .search-icon img {
        width: 30px;
    }


    .short-description p {
        padding: 50px 20px;
    }

    .rows {
        grid-template-columns: 1fr;
    }

    .link-header > a > i {
        visibility: visible;
    }

    .footer-column > .sublinks {
        visibility: hidden;
    }

    .socials {
        padding-left: 50px;
        padding-right: 30px;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .navbar-logo > img {
        height: 120px;
        width: 120px;
        margin-right: 20px;
        margin-top: 20px;
      }
    
      .menu .menu-items {
        flex-direction: column;
      }
    
      .search-box {
        margin-left: 0;
        width: 100%;
      }
    
      .input-field {
        width: 100%;
        padding-left: 10px;
      }

    .title > a > p {
        font-size: 30px;
    }

    .short-description {
        font-size: 24px;
    }

    .short-description p {
        padding: 30px 15px;
    }

    .rows > .content-div > h2 {
        font-size: 28px;
    }

    .rows > .content-div > p {
        font-size: 16px;
    }

    .footer-column {
        width: 120px;
    }

    .link-header > a > i {
        visibility: visible;
    }

    .footer-column > .sublinks {
        visibility: hidden;
    }

    .footer-bottom {
        display: block;
    }

    .footer-bottom > .rights {
        flex-direction: column;
        align-items: flex-start;
    }

    .socials {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* For very small devices */
@media (max-width: 576px) {
    .nav

    .logo > img {
        width: 60px;
    }

    #item-1, #item-2, #item-3{
        height: 30vh;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .menu > li > a {
        font-size: 12px;
    }

    .menu, .search-icon {
        visibility: hidden;
    }

    .bar {
        visibility: visible;
    }

    .title > a > p {
        font-size: 24px;
    }

    .section2 {
        margin-top: 50px;
    }

    .short-description {
        font-size: 20px;
    }

    .short-description p {
        padding: 20px 10px;
    }

    .rows > .content-div > h2 {
        font-size: 24px;
    }

    .rows > .content-div > p {
        font-size: 14px;
    }

    .footer-column {
        /* width: 100px; */
        display: flex;
    }

    .more-links {
        display: flex;
        flex-direction: column;
    }

    .link-header > a > i {
        visibility: visible;
    }

    .footer-column > .sublinks {
        visibility: hidden;
    }

    .footer-bottom > .rights {
        align-items: center;
    }

    .socials {
        padding-left: 10px;
        padding-right: 10px;
    }


}


/* Responsive layout adjustments */
@media (min-width: 768px) {
    .rows {
        flex-direction: row;
    }

    .image-div, .content-div {
        flex: 1;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    nav {
        padding-left: 0; /* Adjust padding for small screens */
    }

    .search-box {
        flex-direction: column; /* Stack search box elements vertically */
    }

    .search-box > i {
        margin-bottom: 10px; /* Space between icon and input field */
    }
}

/* Carousel Styles */
.carousel {
    margin-top: -70px;
}

.carousel-item {
    background-size: cover;
    background-position: center;
    height: 90vh;
}

#carousel-item1 {
    background-image: url(https://images.pexels.com/photos/1216544/pexels-photo-1216544.jpeg);
}

#carousel-item2 {
    background-image: url(https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#carousel-item3 {
    background-image: url(https://images.pexels.com/photos/439416/pexels-photo-439416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#carousel-item4 {
    background-image: url(https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.carousel-item-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h1, .carousel-caption p {
    color: white;
}
