body  {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    /* background-color: rgba(0, 0, 0, 0); */
    display: flex;
    align-content: center;
    padding-left: 150px;
    padding-top: 0PX;
    padding-bottom: 0PX;
    background-position: fixed;
    height: 70PX;
    /* margin-top: -20vh; */
    z-index: 1;
    position: relative;
}
  
.container-fluid{
    display: flex; 
}

.navbar-logo > img {
    height: 180px;
    width: 180px;
    margin-right: 60px;
    margin-top: 35px;
}
  
  
.menu .ul li a{
    color: rgb(255, 255, 255);
    font-size: 17PX;
    font-weight: 700;
}
  
.search-box{
    margin-left: 29px;
    margin-bottom: -59px;
    height: 5vh;
    display: flex;
    align-items: center;
    border: none;
}
  
.search-box:hover{
    background-color: rgba(0, 0, 0, 0);
    margin-left: 29px;
    margin-bottom: -59px;
    height: 6vh;
    display: flex;
    align-items: end;
    width: 350px;
}
  
.icon{
    margin-right: -35px;
    width: 25px;
    height: 25px;
}

.icon:hover{
    margin-right: -150px;
    width: 25px;
    height: 25px;
    color: green;
    border: none;
}
  
.input-field{
    background-color: rgba(255, 255, 255, 0);
    width: 50px;
    height: 4vh;
    border: none;
    border-color: orange;
    padding-left: 50px;
    transition: 3s;
}
  
.input-field:hover{
    background-color: rgba(199, 20, 20, 0);
    border: solid;
    border-color: orange;
    width: 300px;
    height: 4vh;
    border-width: 3px;
    transition: 3s;
}


.logo > img{
    width: 100px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;   
}

.menu-item {
    margin-right: 30px;
    text-transform: uppercase;
}

.menu > li > a {
    text-decoration: none;
    color: white;
}

.menu > li > a:hover {
    color: rgb(230, 215, 7);
}

.search-icon img {
    width: 25px;
}

.bar {
    visibility: hidden;
}

/* section2 styles */

.section2 {
    margin-top: 250px;
    text-align: center;
}

.title > a > p {
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

.title > a > p > img {
    width: 40px;
}

/* section3 styles*/


/* section4 styles */
.section4 {
    margin: 0;
    background-color: rgb(23, 85, 33);
    font-size: 30px;
    text-align: center;
}

.section4 p {
    color: white;
    padding: 50px 90px;
}

/* section5 */

.rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
    /* align-items: center; */
    justify-content: center;
}

.rows > .image > img{
    width: 100%;
    height: 60vh;
}

.rows > .content {
    width: 100%;
    height: 100%;
    background-color: rgba(177, 177, 177, 0.164);
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    align-items: center;
}

.rows > .content > h2 {
    font-size: 35px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.836);
    /* margin-bottom: -100px; */
}

.rows > .content > p {
    font-size: 20px;
}

.rows > .content > button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 29px;
    background: transparent;
    border: rgb(230, 215, 7) solid;
    /* margin-top: -100px; */
    width: 300px;
}

/* footer */
footer {
    background-color: rgba(177, 177, 177, 0.164);
    padding: 20px 50px;
    color: rgba(0, 0, 0, 0.623);
}

.more-links {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    margin-bottom: 40px;
}

.footer-column {
    width: 150px;
    word-wrap: normal;
    
}

.footer-column > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
}



.footer-column > a > .link-header {
    text-transform: uppercase;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.795);
    padding-bottom: 13px;
}

.footer-column > a:hover > .link-header{
    color: rgb(230, 215, 7);
}

.footer-column > a > p {
    text-transform: capitalize;
}

.footer-column > a:hover > p {
    color: rgb(230, 215, 7);
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex; */
    /* justify-content: space-between; */
}

.footer-bottom > .rights {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rights > img {
    width: 80px;
    height: 50px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 90px;
    
}

.socials > a {
    color: #4b4f54;
}

.socials > a:hover > .fa-brands{
    color: rgb(230, 215, 7);
}


/* Base Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
    position: relative;
}

.logo > img {
    width: 100px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu-item {
    margin-right: 30px;
    text-transform: uppercase;
}

.menu > li > a {
    text-decoration: none;
    color: white;
}

.menu > li > a:hover {
    color: rgb(230, 215, 7);
}

.search-icon img {
    width: 25px;
}

/* Section2 Styles */
.section2 {
    margin-top: 250px;
    text-align: center;
}

.title > a > p {
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

.title > a > p > img {
    width: 40px;
}

/* Section4 Styles */
.section4 {
    margin: 0;
    background-color: rgb(23, 85, 33);
    font-size: 30px;
    text-align: center;
}

.section4 p {
    color: white;
    padding: 50px 90px;
}

/* Section5 Styles */
.rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 30px;
    justify-content: center;
}

.rows > .image > img {
    width: 100%;
    height: 100%;
}

.rows > .content {
    width: 100%;
    height: 100%;
    background-color: rgba(177, 177, 177, 0.164);
}

.rows > .content > h2 {
    font-size: 35px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.836);
}

.rows > .content > p {
    font-size: 20px;
}

.rows > .content > button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 29px;
    background: transparent;
    border: rgb(230, 215, 7) solid;
}

/* Footer Styles */
footer {
    background-color: rgba(177, 177, 177, 0.164);
    padding: 20px 50px;
    color: rgba(0, 0, 0, 0.623);
}

.more-links {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    margin-bottom: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column > .link-header {
    display: flex;
    justify-content: space-between;
}

.footer-column > .link-header > a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.footer-column > .link-header > a:hover {
    color: rgb(230, 215, 7);
}

.footer-column > .sublinks > a {
    text-decoration: none;
    color: #4b4f54;
}

.footer-column > .sublinks > a:hover {
    color: rgb(230, 215, 7);
}

.link-header > a > i {
    visibility: hidden;
}


.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-bottom > .rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights > img {
    width: 100px;
    height: 100px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 90px;
}

.socials > a {
    color: #4b4f54;
}

.socials > a:hover > .fa-brands {
    color: rgb(230, 215, 7);
}

