.menu .menu-items li a{
    color: rgb(0, 0, 0);
    font-size: 17PX;
    font-weight: 700;
}

.horizontal-line {
    height: 5px;
    background-color: green;
}

.background {
    background-image: url('/images/16708.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    height: 500px;
    color: white;
    /* text-align: center; */
}

.path {
    padding-top: 50px;
    padding-left: 50px;
}

.overlay > .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    text-transform: uppercase;
}


/*      leadership page styles       */

/* section 4 styles */
#l-section4 {
    font-size: 19px;
    text-align: justify;
}

#l-section4 p {
    color: white;
    padding: 40px 60px;
    width: 95%;
}

/* persons styles */
.persons {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
}

.person {
    width: 15em;
    margin-left: 20px;
}

.person-image > img {
    width: 15em;
    padding-bottom: 10px;
}

.person-name > a {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: blue;
    text-decoration: underline blue 2px;
}

.person-name > a:hover {
    color: rgb(230, 215, 7);;
}

.person-role > p {
    font-size: 18px;
}


/*          core values page styles          */
#cv-section4 {
    padding: 40px 10px;
    /* padding: 20px 30px; */
}

#cv-section4 h3 {
    color: white;
    padding-top: 30px;
    letter-spacing: 2px;
}

#cv-section4 p {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 2px;
}

#cv-section4 button {
    background-color: rgba(255, 255, 255, 0.226);
    color: white;
    border: none;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 20px;
}

#cv-section4 button:hover {
    background-color: rgb(230, 215, 7);
}

.values {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 10px;
}

.value {
    width: 25em;
    margin-left: 35px;
    margin-bottom: 40px;
}

.value-image > img{
    width: 400px;
    height: 250px;
}

.value-title > h3 {
    font-size: 22px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.value-description > p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}